* {
    font-family: 'Open Sans', sans-serif;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar-brand {
    font-family: 'New Times Roman';
    font-size: 36px;
}

.nav-img .navbar-brand {
    display: flex;
    align-items: center;
}

.nav-img .navbar-brand>img {
    padding: 7px 14px;
}

.navbar-header a:hover {
      color: lightgreen !important;
  }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    /*background-color: #f5f5f5;*/
    background-color: #333;
}

body>.container {
    padding: 60px 15px 0;
}

.container .text-muted {
    text-align: center;
    margin: 20px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.panel {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.panel-default {
    border-color: transparent;
}

.panel-heading {
    border: 1px solid #ddd;
    border-radius: 3px;
}

.panel-body {
    padding: 0 15px;
}

label {
    margin-bottom: 10px;
}

.radio-inline {
    margin-left: 10px;
    margin-bottom: 15px;
}

.well {
    margin: 0;
}

.btn-sm {
    margin: 10px auto;
}

.trade-create {
    margin-top: 15px;
}

.product {
    /*padding: 15px;*/
    border: 1px solid blue;
}

.item-trade {
    margin-right: 20px;
    max-width: 70px;
}

.fa {
    margin-right: 5px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.welcome{
    color:white;
}

.buttons {
  text-align: center;
}

.jumbotron {
    background-color: black;/* transparent !important;   */
    opacity: .75;
    margin-top: 75px;
}

.jumbo-market {
    margin-top: 0;
    background-color: #333;
    opacity: 1;
   /* background-color: black;*/
}

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: baseline;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
}
.navbar-brand {
    padding: 0 15px;
}

.modal-backdrop {
   background-color: black;
}

/*TEST1 START*/
.main-area {
  text-align: center;
  font-size: 6.5em;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 1.5s ease-out infinite;
  animation-direction: alternate;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

#welcome-logo {
    color:black;
    font-size: 60px;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #90ee90, 0px 0px 10px #90ee90,  0px 0px 25px #90ee90, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8;
  }
}

@media (min-width: 600px) { 
    #welcome-logo {
        font-size: 100px;
    }
}
.each-product {
    /*float: left;*/
    display: inline-block;
    padding: 15px;
}

#prod-div {
    overflow-x: scroll;
    overflow-y: hidden;
}

.each-user-own-product {    
    /*float: left;*/
    display:inline-block;
    padding: 15px;

}

/*img:hover .product-info {
    display: block;
}*/

.product-info > p {
    font-size: 12px;
    color: black;
   
}
.product-info {
    background-color: #a6bdb7;
    border-radius: 10px;
}
.product-img {
     border-radius: 10px;
}

.market-font {
    color: lightgreen;
}

.greentext {
    color: lightgreen;
}

.formlabel,.formtext{
    width: 120px;
    display:inline-block;
    color:white;

}

.form-control, .productinput{

    line-height: 26px;
    display:inline-block;
    width:240px;
    border-radius: 0px;

}

    